<IfModule mod_rewrite.c>
    RewriteEngine On

    # Omogući CORS (Cross-Origin Resource Sharing)
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"

    # Ako zahtjev nije za pravi fajl ili direktorijum, preusmjeri na index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
